@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
body {
  font-family: "Inter", sans-serif;
}

.nav-link > i {
  font-size: 0.8em;
}

.right img {
  height: 2.8em;
  margin: 0.2em;
  margin-top: 0.5em;
  position: relative;
}

.right i {
  margin: 0.2em;
  margin-right: 0.5em;
  display: flex;
  width: 2em;
  height: 2em;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  padding: 0.3em;
  background-color: #f5f4f8;
  color: #a7a2ba;
  position: relative;
}

.bi > div {
  position: absolute;
  background-color: #7550fe;
  height: 0.4em;
  width: 0.4em;
  border-radius: 50%;
  top: 0.2em;
  right: 0.2em;
}

.right > div {
  position: absolute;
  background-color: #1acb98;
  padding: 0.1em;
  height: 0.8em;
  width: 0.8em;
  border-radius: 50%;
  top: 3em;
  right: 1em;
  border: 2px solid white;
}

#hero {
  background-color: #7550fe;
  height: 20em;
}

#sub-hero div i {
  font-size: 2em;
  margin-right: 1em;
  background-color: #ffeeda;
  color: #c4863e;
  border-radius: 50%;
  padding-top: 0.35em;
  padding-left: 0.6em;
  width: 2.2em;
  height: 2.2em;
}
